<fieldset class="theme-switcher {{ classes ?? '' }}">
    <legend class="{{ legend_classes ?? 'sr-only' }}">Farbschema</legend>
    <label class="theme-option"><input type="radio" name="{{ name ?? 'header-theme' }}" value="system" data-theme-choice>System</label>
    <label class="theme-option"><input type="radio" name="{{ name ?? 'header-theme' }}" value="light" data-theme-choice>Hell</label>
    <label class="theme-option"><input type="radio" name="{{ name ?? 'header-theme' }}" value="dark" data-theme-choice>Dunkel</label>
</fieldset>
